<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <style>
        body {
            background-color: #F2F3F8;
        }

        .container {
            margin-top: 9vh;
            width: 100vw;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #F2F3F8;
        }

        .tabContainer {
            width: 100%;
            background-color: white;
            display: flex;
            justify-content: space-evenly;
        }

        .tab {
            width: 43%;
            height: 6vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .tab > span {
            color: #454F63;
            font-size: 4vw;
        }

        .activeTab {
            border-bottom: 3px solid #4D269E;
        }

        .activeTab > span {
            color: #4D269E;
        }

        /* @@@@@@@@@@@@@@@@ 광고제안 @@@@@@@@@@@@@@@@@ */
        .advertisementRequestListContainer {
            width: 90%;
        }

        .connectorContainer {
            margin-top: 3vh;
        }

        .imgContainer {
            width: 100%;
            height: 30vh;
        }

        .bodyContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .tagListContainer {
            height: 8vh;
            width: 100%;
            display: flex;
            background-color: white;
            align-items: center;
        }

        .tag {
            border-radius: 30px;
            margin: 0px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #4D269E;
            color: #4D269E;
            height: 4.8vh;
            background-color: white;
        }

        .tagName {
            font-size: 3vw;
            margin: 0px 15px;
        }

        .cancelableStateContainer {
            width: 100%;
            height: 6vh;
            background-color: #3ACCE1;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 3vh;
        }

        .unCancelableStateContainer {
            width: 100%;
            height: 6vh;
            background-color: #4D269E;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 3vh;
        }

        .cancelableStateContainer:hover {
            opacity: 0.7;
        }

        .cancelRequestBtn {

        }

        /* @@@@@@@@@@@@@@@@  기업 정보  @@@@@@@@@@@@@@@@@ */
        .corporationInformationContainer {
            width: 90%;
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }

        .informationHeaderContainer {
            width: 100%;

        }

        .informationBodyContainer {
            height: 35vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: white;
            margin-bottom: 4vh;
        }

        .informationLine {
            margin: 0px 10px;
            height: 8vh;
            border-bottom: 1px solid #EEEEEE;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .informationLine > span {
            min-width: 40%;
            font-size: 14px;
            color: black;
        }

        .informationLine > input {
            max-width: 60%;
        }

        /*  @@@@@@@ 수정하기 버튼 @@@@@@@   */
        #modifyBtnContainer {
            width: 100%;
            height: 7vh;
            display: none;
            justify-content: space-between;
        }

        #cancelModifyBtn {
            flex: 1;
            border-radius: 5px;
        }

        #submitModifyBtn {
            flex: 1;
            border-radius: 5px;
        }
    </style>

</head>

<body style="width: 100%; height: 100%; background-color: #F2F3F8;">
<header style="position: fixed; z-index: 20;  width: 100%; background: #fff; left: 0; top: 0;">
    {{>fragments/header}}
</header>

<div class="container">
    <div class="tabContainer">
        <div id="tabA" class="tab activeTab">
            <span>광고제안</span>
        </div>
        <div id="tabB" class="tab">
            <span>기업 정보</span>
        </div>
    </div>

    <!-- @@@@@@@@@@@ 광고 제안 @@@@@@@@@@@@ -->
    <div class="advertisementRequestListContainer">
        {{#if advertisementRequestList}}
            {{#each advertisementRequestList}}
                <div class="connectorContainer">
                    <div class="imgContainer">
                        <img style="width: 100%; height: 100%;" src="{{this.connectorImageUrl}}"
                             alt="">
                    </div>
                    <div>
                        <span style="font-size: 3.5vw;"> 연락처 : {{this.anotherName}} </span>
                    </div>
                    <div class="bodyContainer">
                        <div class="tagListContainer">
                            <div class="tag">
                                <span class="tagName">
                                    # {{this.relatedField}}
                                </span>
                            </div>
                            <div class="tag">
                                <span class="tagName">
                                    # {{this.audienceClass}}
                                </span>
                            </div>
                            <div class="tag">
                                <span class="tagName">
                                    # {{this.broadCastCharacter}}
                                </span>
                            </div>
                        </div>
                    </div>

                    {{isMatchedCorporation this}}
                </div>
            {{/each}}
        {{else}}
            <div style="width: 100%; height: 40vh; display: flex; justify-content: center; align-items: center;">
                <span style="font-size: 6vw; color: #4D269E;">
                    제안 광고 정보가 존재하지 않습니다.
                </span>
            </div>
        {{/if}}
    </div> <!--@@@@@@@@@@@@@@@@@-->


    <!-- @@@@@@@@@@@ 기업 정보 @@@@@@@@@@@@ -->
    <div class="corporationInformationContainer">
        <div class="informationHeaderContainer">
            <span style="font-size: 4vw; color: black;">
                기본 정보
            </span>
        </div>

        <div class="informationBodyContainer">
            <div class="informationLine">
                <span>아이디</span>
                <span class="id">{{corporation.email}}</span>
            </div>
            <div class="informationLine">
                <span>이름</span>
                <span class="name">{{corporation.userInformation.name}}</span>
            </div>
            <div class="informationLine">
                <span>기업명</span>
                <span class="corporationName">{{corporation.userInformation.anotherName}}</span>
            </div>
            <div class="informationLine">
                <span>기업 홈페이지</span>
                <span class="homePageUrl">{{corporation.userInformation.homePageUrl}}</span>
            </div>
        </div>

        <div style="width: 100%; height: 10vh; display: flex; justify-content: center; align-items: center;">
            <div id="modifyBtn" style="width: 90%; height: 7vh; background-color: #4D269E; border-radius: 5px; display: flex; justify-content: center; align-items: center;">
                <span style="color: white; font-size: 14px; text-align: center">수정하기</span>
            </div>

            <div id="modifyBtnContainer">
                <button id="cancelModifyBtn" class="btn_pop" style="background-color: #4D269E;">
                    <span style="color: white; font-size: 14px;">
                        취소하기
                    </span>
                </button>
                <button id="submitModifyBtn" class="btn_pop" style="background-color: #4D269E;">
                    <span style="color: white; font-size: 14px;">
                        저장하기
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

</body>

<script>
  $(function () {
    $(".corporationInformationContainer").hide();

    $(".tab").on("click", function () {
      $(".tab").removeClass("activeTab");
      this.classList.add("activeTab");
    });

    $("#tabA").on("click", function () {
      hideAll();
      $(".advertisementRequestListContainer").show();
    });

    $("#tabB").on("click", function () {
      hideAll();
      $(".corporationInformationContainer").show();
    });

    function hideAll() {
      $(".advertisementRequestListContainer").hide();
      $(".corporationInformationContainer").hide();
    }

    $("#modifyBtn").on("click", function() {
      $("#modifyBtn").hide();
      $("#modifyBtnContainer").css("display", "flex");

      changeSpanToInput();
    });

    function changeSpanToInput() {
      let beforeName = $(".name").text();
      $(".name").replaceWith(`<input type='text' class='name' value="${beforeName}">`);

      let beforeCorporationName = $(".corporationName").text();
      $(".corporationName").replaceWith(`<input type="text" class="corporationName" value="${beforeCorporationName}">`);

      let beforeHomePageUrl = $(".homePageUrl").text();
      $(".homePageUrl").replaceWith(`<input type="text" class="homePageUrl" value="${beforeHomePageUrl}">`);
    }

    $("#cancelModifyBtn").on("click", () => window.location.reload());
    $("#submitModifyBtn").on("click", function() {
      $.ajax({
        url: `/users`,
        type: "PUT",
        data: JSON.stringify(makeModifyCorporationRequestBody()),
        contentType: "application/json",
        success: function(data, text) {
          alert("요청이 완료되었습니다.");
          location.href = "/main";
        },
        error: function(request, status, error) {
          alert(request.responseText);
        }
      });
    });

    function makeModifyCorporationRequestBody() {
      return {
        email: $(".id").text(),
        name: $(".name").val(),
        corporationName: $(".corporationName").val(),
        homePageUrl: $(".homePageUrl").val()
      }
    }

    $(".cancelableStateContainer").on("click", function() {
        let wantDelete = confirm("정말 삭제하시겠습니까?");

        if(wantDelete) {
          let willCancelAdId = $(this).attr("id");
          $.ajax({
            url: `/advertisements/${willCancelAdId}`,
            type: "DELETE",
            success: function(data, text) {
              alert("요청이 완료되었습니다.");
              location.href = "/main";
            },
            error: function(request, status, error) {
              alert(request.responseText)
            }
          });
        }

    })
  });
</script>

</html>
