<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Title</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/xeicon.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script>
      $(document).ready(function () {
        $(".headerContainer").hide();

        $('.side_menu_btn').on('click', function () {
          $('.side').addClass('on');
          $(".headerContainer").show();
        });

        $('.side_close').on('click', function () {
          $('.side').removeClass('on');
          $(".headerContainer").hide();
        });
      });
    </script>

    <style>
        .headerContainer {
            margin-top: 3vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .headerContentContainer {
            width: 78%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .headerContentContainer > .item {
            width: 100%;
            height: 9vh;
            color: white;
            font-size: 4vw;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .headerContentContainer > .item > a {
            color: white;
        }
    </style>
</head>

<body>
<div class="white" style="background-color: white; height: 9vh; display:flex; flex-direction: column; justify-content: center;">
    <div class="backgrond" style="margin-top: 0px;">
        <a href="#a" class="side_menu_btn">메뉴바</a>
        {{#if role.youtuber}}
            <a href="/connectorList" class="logo2">로고</a>
        {{else}}
            <a href="/main" class="logo2">로고</a>
        {{/if}}
    </div>
</div>

<main class="backno">
    <div class="side">
        <a href="/main" class="logo3">로고</a>
        <a href="#a" class="side_close">메뉴닫기</a>

        <div class="headerContainer">
            <div class="headerContentContainer">
                <div class="item">
                    <a href="/usage">U-BRIDGE 소개</a>
                </div>
                <div class="item">
                    <a href="/services">U-BRIDGE 서비스</a>
                </div>
                <div class="item">
                    <a href="/matching">매칭서비스 요청</a>
                </div>
                <div class="item">
                    <a href="/connectorList">유튜버 리스트</a>
                </div>
                {{#if role.youtuber}}
                    <div class="item">
                        <a href="/main">유튜버 정보 수정 </a>
                    </div>
                {{/if}}
                <div class="item">
                    <a href="/faq">FAQ & 상담문의</a>
                </div>
                <div class="item">
                    <a href="/users/logout">로그아웃</a>
                </div>
            </div>
        </div>

    </div>
</main>
</body>

</html>