<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <style>
        body {
            background-color: #F2F3F8;
        }

        #tagContainer {
            width: 100vw;
            height: 29vh;
            background-color: #F2F3F8;
        }

        #tagHeader {
            width: 100%;
            height: 25%;
            border-bottom: 1px solid #4D269E;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #tagHeader > span {
            font-size: 14px;
            color: #4D269E;
        }

        #tagListContainer {
            width: 100%;
            height: 75%;
            background-color: #FFFFFF;
            position: relative;
        }

        .tagLine {
            display: flex;
            width: 100%;
            height: 30%;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #F2F3F8;
        }

        .tagLine > span {
            font-size: 14px;
            color: #4D269E;
            width: 20%;
            text-align: center;
        }

        .tagLine > .tagList {
            width: 75%;
            height: 100%;
        }

        #tagListMask {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 10;
            top: 0px;
            background-color: #A7A7A770;
            color: white;
            font-size: 5vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #connectorListContainer {
            width: 100%;
            height: auto;
        }

        .connectorContainer {
            margin-top: 3vh;
            background-color: white;
        }

        .connectorImageContainer {
            width: 100%;
            height: 30vh;
        }

        .connectorImage {
            width: 100%;
            height: 100%;
        }

        .connectorTagContainer {
            width: 100%;
            height: 9vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
        }

        .connectorTagContentContainer {
            width: 90%;
            height: 65%;
            display: flex;
        }

        .connectorTag {
            border-radius: 30px;
            margin: 0px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #4D269E;
            color: #4D269E;
            height: 4.8vh;
        }

        .tagName {
            margin: 0px 15px;
        }

        .connectorIntroduceContainer {
            margin-left: 5vw;
        }

        .connectorIntroduce {
            font-size: 3.5vw;
            color: black;
        }

    </style>


</head>

<body style="background-color: #F2F3F8;">
<header>
    {{>fragments/header}}
</header>

<div id="role" style="display: none;">{{role.youtuber}}</div>

<div id="connectorListData" style="display: none;">{{connectorListData}}</div>

<div>
    <div id="tagContainer">
        <div id="tagHeader">
            <span>해시태그선택</span>
        </div>

        <div id="tagListContainer">
            <div class="tagLine">
                <span id="relatedField"> 관련분야 </span>
                <div class="relatedField tagList">{{>fragments/swiper tagList=relatedField}}</div>
            </div>
            <div class="tagLine">
                <span id="audienceClass"> 시청자층 </span>
                <div class="audienceClass tagList">{{>fragments/swiper tagList=audienceClass}}</div>
            </div>
            <div class="tagLine">
                <span id="broadcastCharacter"> 방송특징 </span>
                <div class="broadcastCharacter tagList">{{>fragments/swiper tagList=broadcastCharacter}}</div>
            </div>

            <div id="tagListMask">
                옆으로 드래그하여 다른 태그를 확인하세요.
            </div>
        </div>
    </div>

    <div id="connectorListContainer">
        <!--                {{#each connectorList}}-->
        <!--                <div class="connectorContainer">-->
        <!--                    <div class="connectorImageContainer">-->
        <!--                        <img class="connectorImage" src="{{connectorImageUrl}}" alt="">-->
        <!--                    </div>-->
        <!--                    <div class="connectorTagContainer">-->
        <!--                        <div class="connectorTagContentContainer">-->
        <!--                            {{#each tagList}}-->
        <!--                            <div class="connectorTag">-->
        <!--                                <span class="tagName">-->
        <!--                                    # {{this}}-->
        <!--                                </span>-->
        <!--                            </div>-->
        <!--                            {{/each}}-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                    <div class="connectorIntroduceContainer">-->
        <!--                        <span class=connectorIntroduce>{{this.connectorIntroduce}}</span>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                {{/each}}-->
    </div>

</div>

</body>

<script>
  $(function () {
    let connectorList = JSON.parse($("#connectorListData").text());

    let condition = {
      relatedField: "",
      audienceClass: "",
      broadcastCharacter: ""
    };

    renderConnectorList();

    $(".swiper-slide").on("click", function () {
      // 선택된 태그를 codition 에 추가하는 부분
      let category = this.parentNode.parentNode.parentNode.parentNode.children[0].id;
      let isAlreadySelected = condition[category].length > 0 ? true : false;

      if (isAlreadySelected && this.innerText == condition[category]) {
        condition[category] = "";

        this.style.color = "#B7B7B7";
      } else {
        condition[category] = this.innerText;

        // 태그가 선택되었음을 렌더링 하는 부분
        let childNodes = this.parentNode.children;
        for (let i = 0; i < childNodes.length; i++) {
          childNodes[i].style.color = '#B7B7B7';
        }
        this.style.color = "#4D269E";
      }


      // 선택된 태그에 따라서 connectorList를 렌더링하는 부분
      connectorList = JSON.parse($("#connectorListData").text());
      filtering();
      removeConnectorListElement();
      renderConnectorList();
    });

    function filtering() {
      // or 조
      // connectorList = connectorList.filter(connector => connector.tagList.some(tag => Object.values(condition).indexOf(tag) >= 0));

      // and 조건
      connectorList = connectorList.filter(connector => {
        return Object.values(condition)
          .every(ele => {
            if (ele.length == 0)
              return true;
            return connector.tagList.indexOf(ele) > -1;
          });
      });
    }

    function renderConnectorList() {
      let appendTarget = document.getElementById("connectorListContainer");

      // ============ connector List 렌더링 시작 =============
      connectorList.forEach(connector => {
        // @@@@@@@@@@@@@@ 이미지, tag 컨테이너를 포함하는 컨테이너 @@@@@@@@@@@@@@@
        let connectorContainer = document.createElement("div");
        connectorContainer.className = "connectorContainer";

        // id 추적을 위한 display none div
        let connectorIdContainer = document.createElement("span");
        connectorIdContainer.innerText = connector.connectorId;
        connectorIdContainer.style.display = "none";
        connectorContainer.appendChild(connectorIdContainer);

        // @@@@@@@@@@@@@@@ 이미지 컨테이너 @@@@@@@@@@@@@@@
        let connectorImageContainer = document.createElement("div");
        connectorImageContainer.className = "connectorImageContainer";

        let img = document.createElement("img");
        img.className = "connectorImage";
        img.src = connector.connectorImageUrl;
        connectorImageContainer.appendChild(img);

        connectorContainer.appendChild(connectorImageContainer);

        // @@@@@@@@@@@@@@@ tag 컨테이너 @@@@@@@@@@@@@@@
        let connectorTagContainer = document.createElement("div");
        connectorTagContainer.className = "connectorTagContainer";

        let connectorTagContentContainer = document.createElement("div");
        connectorTagContentContainer.className = "connectorTagContentContainer";

        connector.tagList.forEach(tag => {
          let connectorTag = document.createElement("div");
          connectorTag.className = "connectorTag";

          let tagName = document.createElement("span");
          tagName.className = "tagName";
          tagName.innerText = tag;

          connectorTag.appendChild(tagName);
          connectorTagContentContainer.appendChild(connectorTag);
        });

        connectorTagContainer.appendChild(connectorTagContentContainer);
        connectorContainer.appendChild(connectorTagContainer);

        // @@@@@@@@@@@@@@@@ 소개글 컨테이너 @@@@@@@@@@@@@@@
        let connectorIntroduceContainer = document.createElement("div");
        connectorIntroduceContainer.className = "connectorIntroduceContainer";
        let connectorIntroduce = document.createElement("span");
        connectorIntroduce.className = "connectorIntroduce";
        connectorIntroduce.innerText = connector.connectorIntroduce;
        connectorIntroduceContainer.appendChild(connectorIntroduce);
        connectorContainer.appendChild(connectorIntroduceContainer);

        appendTarget.appendChild(connectorContainer);
        // ============ connector List 렌더링 끝 =============


        // @@@@@@@@@@@@ youtuber 인 경우 connector detail 페이지 이동 불가 @@@@@@@@@
        let isCurrentUserYoutuber = $("#role").text() == 'true' ? true : false;

        if (!isCurrentUserYoutuber) {
          $(".connectorContainer").on("click", function () {
            let connectorId = this.children[0].textContent;
            window.location.href = "/connectors/" + connectorId;
          });
        }
      });
    }

    function removeConnectorListElement() {
      let connectorListContainer = document.getElementById("connectorListContainer");
      connectorListContainer.innerHTML = '';
    }

    $("#tagListMask").on('click', function () {
      $(this).css('display', 'none');
    });
  });
</script>
</html>