<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <style>
        .container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: #F2F3F8;
        }

        .imgContainer {
            width: 100%;
            height: 30vh;
        }

        .bodyContainer {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .tagListContainer {
            height: 7vh;
            width: 100%;
            display: flex;
            align-items: center;
        }

        .tag {
            border-radius: 30px;
            margin: 0px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #4D269E;
            color: #4D269E;
            height: 4.8vh;
            background-color: white;
        }

        .tagName {
            font-size: 3vw;
            margin: 0px 15px;
        }

        .informationContainer {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        .informationHeaderContainer {
            height: 8vh;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-left: 2vw;
        }

        .informationBodyContainer {
            height: 26vh;
            display: flex;
            flex-direction: column;
            background-color: white;
            margin-bottom: 4vh;
        }

        .informationLine {
            margin: 0px 10px;
            height: 8vh;
            border-bottom: 1px solid #EEEEEE;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .informationLine > span {
            min-width: 40%;
            font-size: 14px;
        }

        .requestBtnContainer {
            height: 6vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            border: 2px solid #4D269E;
            background-color: #4D269E;
        }

        .representativeContainer {
            margin: 3vh 0px;
            display: none;
            width: 100%;
        }

        input[type='text'], input[type='number'] {
            text-align: right;
            max-width: 60%;
        }
    </style>

    <script>
      $(function () {
        $(".representativeContainer").hide();

        $("#showRegisterFormBtn").on("click", function () {
            this.style.backgroundColor = "white";
            this.children[0].style.color = "#4D296E";

            $(".representativeContainer").show();
            window.scrollTo(0,document.body.scrollHeight);
        });

        $("#requestRegisterBtn").on("click", function() {
          $.ajax({
            url: `/advertisements`,
            type: "POST",
            data: JSON.stringify(makeRegisterAdvertisementRequestBody()),
            contentType: "application/json",
            success: function(data, text) {
              alert("요청이 완료되었습니다.");
              location.href = "/main";
            },
            error: function(request, status, error) {
              alert(request.responseText);
            }
          });
        });

        function makeRegisterAdvertisementRequestBody() {
          return {
            connectorId: $("#connectorIdContainer").text(),
            advertiserInformation: {
                representativeName: $("#representativeName").val(),
                phoneNum: $("#phoneNum").val(),
                corporationName: $("#corporationName").val()
            },
            advertisementRequestInformation: {
                advertisementField: $("#advertisementField").val(),
                advertisementBudget: $("#advertisementBudget").val()
            }
          }
        }

      });
    </script>
</head>
<body>
<header>
    {{>fragments/header}}
</header>

<div id="connectorIdContainer" style="display: none;">{{connector.connectorId}}</div>

<div class="container">
    <div class="imgContainer">
        <img style="width: 100%; height: 100%;" src="{{connector.wishAdvertisementInformation.connectorImageUrl}}"
             alt="">
    </div>

    <div class="bodyContainer">
        <div class="tagListContainer">
            {{#each connector.wishAdvertisementInformation.advertisementTag}}
            <div class="tag">
                    <span class="tagName">
                        # {{this}}
                    </span>
            </div>
            {{/each}}
        </div>

        <div class="informationContainer">
            <div class="informationHeaderContainer">
                <span style="font-size: 4vw; color: black;"> 커넥터 정보 </span>
            </div>
            <div class="informationBodyContainer">
                <div class="informationLine">
                    <span>희망 광고 기간</span>
                    <span>{{connector.wishAdvertisementInformation.period}}</span>
                </div>
                <div class="informationLine">
                    <span>희망 광고료</span>
                    <span>{{connector.wishAdvertisementInformation.pay}}</span>
                </div>
                <div class="informationLine">
                    <span>유튜브 주소</span>
                    <span>{{youtubeUrl}}</span>
                </div>
            </div>
        </div>

        <div class="requestBtnContainer" id="showRegisterFormBtn">
            <span style="color: white; font-size: 4vw;"> 요청정보 작성하기 </span>
        </div>

        <!-- @@@@@@@@@@@@@ 담당자 정보 @@@@@@@@@@@@ -->
        <div class="representativeContainer">
            <div class="informationContainer">
                <div class="informationHeaderContainer">
                    <span style="font-size: 4vw; color: black;"> 담당자 정보 </span>
                </div>

                <div class="informationBodyContainer" style="height: 45vh;">
                    <div class="informationLine">
                        <span>담당자</span>
                        <input type="text" id="representativeName">
                    </div>
                    <div class="informationLine">
                        <span>연락처</span>
                        <input type="text" id="phoneNum">
                    </div>
                    <div class="informationLine">
                        <span>제안 기업명</span>
                        <input type="text" id="corporationName">
                    </div>
                    <div class="informationLine">
                        <span>제안 광고 분야</span>
                        <input type="text" id="advertisementField">
                    </div>
                    <div class="informationLine">
                        <span>제안 광고 총 예산</span>
                        <input type="number" id="advertisementBudget" placeholder=" 원">
                    </div>
                </div>

                <div class="requestBtnContainer" id="requestRegisterBtn">
                    <span style="color: white; font-size: 4vw;"> 광고 요청 </span>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>