<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <style>
        body {
            margin: 0px;
        }

        span {
            font-size: 14px;
            color: black;
        }

        .container {
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .requestContainer {
            width: 90%;
        }

        .requestLine {
            height: 10vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .requestLine > input {
            height: 5vh;
        }

        .requestBtnContainer {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        .requestBtn {
            width: 100%;
            height: 7vh;
            border-radius: 5px;
            background-color: #4D269E;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

    <script>
        $(function() {
          $(".requestBtnContainer").on("click", function() {
            alert("상담요청서가발송되었습니다.\n 담당자확인후연락드리겠습니다.\n 감사합니다.");
            window.location.href = "/faq";
          });
        });
    </script>
</head>
<body style="width: 100%; height: 100%; background-color: #F2F3F8;">
<header>
    {{>fragments/header}}
</header>

<div class="container">
    <div class="requestContainer">
        <div class="requestLine">
            <span>상담제목</span>
            <input type="text">
        </div>
        <div class="requestLine">
            <span>기업명</span>
            <input type="text">
        </div>
        <div class="requestLine">
            <span>담당자명</span>
            <input type="text">
        </div>
        <div class="requestLine">
            <span>담당자 연락처</span>
            <input type="text">
        </div>
        <div class="requestLine">
            <span>담당자 이메일</span>
            <input type="text">
        </div>
        <div style="margin: 2vh 0vh; width: 100%; display: flex; flex-direction: column;">
            <span>상담내용</span>
            <textarea name="" style="height: 40vh;"></textarea>
        </div>

        <div class="requestBtnContainer">
            <div class="requestBtn">
                <span style="color: white; text-align: center;"> 상담 요청보내기 </span>
            </div>
        </div>
    </div>
</div>

</body>
</html>