<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/xeicon.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>

      $(document).ready(function () {

        $('.btn_pop').on('click', function () {
          $(this).addClass('on');
        });

        $('.stage3 a').on('click', function () {
          $(this).siblings('div').stop().slideUp();
          $(this).next().stop().slideDown();
        });

        $(".counselingBtnContainer").on("click", function() {
          window.location.href = "/faq/counseling";
        });
      });
    </script>


</head>
<body>
<header>
    {{>fragments/header}}
</header>

<!-- 비주얼1 -->
<main class="backyes">
    <section class="visual2_1">
        <p>FAQ</p>
    </section>

    <section class="visual3">

        <div class="on2">
            <div class="stage3">
                <a href="#a"><p>Q. U-브릿지는 어떤 사이트인가요?</p></a>
                <div class="back">
                    <p>
                        Y-커넥은 브랜드(기업)와 유튜버(인플루언서)를 연결하는
                        동영상 콘텐츠 마케팅 플랫폼입니다.
                        <br>
                        <br>
                        브랜드(기업)는 Y-커넥을 통해 브랜드 또는 제품 및 서비스
                        에 대해 유튜버(인플루언서)의 브랜디드 콘텐츠 또는 PPL
                        광고를 진행할 수 있습니다.
                    </p>
                </div>
                <a href="#a" class="position"><p>Q. 기업이 영상에 대해 수정요청은 몇 회 가능 <br>한가요?</p></a>
                <div class="back">
                    <p></p>
                </div>
                <a href="#a"><p>Q. 결과를 다시 보고 싶은데 어디서 보나요?</p></a>
                <div class="back">
                    <p></p>
                </div>
                <a href="#a"><p>Q. 회원가입 조건은 어떻게 되나요?</p></a>
                <div class="back">
                    <p></p>
                </div>
                <a href="#a"><p>Q. 광고 요청을 취소하고 싶어요.</p></a>
                <div class="back">
                    <p></p>
                </div>
                <a href="#a"><p>Q. 커넥트 등록을 취소하고 싶어요.</p></a>
                <div class="back">
                    <p></p>
                </div>
                <a href="#a"><p>Q. 광고 요청 내용과 다른 제품을 받았어요.</p></a>
                <div class="back">
                    <p></p>
                </div>
                <a href="#a" style="margin-bottom: 4vh;"><p>Q. 다른 궁금한 사항은 어디로 문의하면 되나요?</p></a>
                <div class="back">
                    <p>
                        비밀번호를 잊어버렸을 경우
                        <br>
                        <br>
                        해당 메일로 연락주세요.
                        <br>
                        hyoi0303@naver.com
                        <br>
                        <br>
                    </p>
                </div>
            </div>
        </div>


    </section>
</main>

    <div class="counselingBtnContainer" style="background-color: #F2F3F8; height: 15vh; bottom: 0px; width: 100%; display: flex; justify-content: center; align-items: center;">
        <div style="height: 7vh; border-radius: 5px; background-color: #4D269E; display: flex; justify-content: center; align-items: center; width: 90%;" >
            <span style="color: white; font-size: 14px; text-align: center">
                E-mail 로 1:1 문의 요청하기
            </span>
        </div>
    </div>
</body>
</html>
