<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <style>
        body {
            margin: 0px;

        }

        span {
            font-size: 14px;
            color: black;
        }

        .container {
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .requestContainer {
            width: 90%;
        }

        .requestLine {
            height: 10vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .requestLine > input {
            height: 4vh;
        }

        .submitBtnContainer {
            margin-top: 5vh;
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        .submitBtn {
            width: 100%;
            height: 7vh;
            background-color: #4D269E;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
        }

        .submitBtn > span {
            text-align: center;
        }
    </style>

    <script>
        $(function() {
          $(".submitBtn").on("click", function() {
            alert("매칭요청서가발송되었습니다.\n U-BRIDGE 매칭후\n 안내해드리도록하겠습니다.");
            window.location.href = "/main";
          });
        });

    </script>
</head>
<body style="margin: 0px; width: 100%; height: 100%; background-color: #F2F3F8;">

<header>
    {{>fragments/header}}
</header>

<div class="container">
    <div class="requestContainer">
        <div class="requestLine">
            <span>광고기간</span>
            <input type="text">
        </div>
        <div class="requestLine">
            <span>광고료</span>
            <input type="text">
        </div>
        <div class="requestLine">
            <span>제 품</span>
            <input type="text">
        </div>
        <div class="requestLine">
            <span>희망키워드</span>
            <input type="text">
        </div>
        <div class="requestLine">
            <span>형식</span>
            <input type="text">
        </div>

        <div class="submitBtnContainer">
            <div class="submitBtn">
                <span style="color: white; text-align: center;"> 요청보내기 </span>
            </div>
        </div>
    </div>
</div>

</body>
</html>