<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body style="margin: 0px;">

<header>
    {{>fragments/header}}
</header>
<div style="width: 100vw; display:flex; flex-direction: column; justify-content: center;">
    <img style="width: 100%; height: auto;" src="/images/services/ubridgeServices.png" alt="">
</div>

</body>
</html>