<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>

      $(document).ready(function () {
        $(function () {
          $(".tabA").on('click', function () {
            $(".tabB").css("border-bottom", "none");
            $(".tabB > span").css("color", "#B7B7B7");

            $(".tabA").css("border-bottom", "3px solid #4D269E");
            $(".tabA > span").css("color", "#4D269E");
          });

          $(".tabB").on('click', function () {
            $(".tabA").css("border-bottom", "none");
            $(".tabA > span").css("color", "#B7B7B7");

            $(".tabB").css("border-bottom", "3px solid #4D269E");
            $(".tabB > span").css("color", "#4D269E");
          });
        });
      });
    </script>

    <style>
        .container {
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2vh;
        }

        .formContainer {
            width: 90%;
            height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }


        .tabContainer {
            border-bottom: 1px solid #EEEEEE;
            height: 9vh;
            width: 100vw;
            display: flex;
            justify-content: space-evenly;
        }

        .tabContainer > .tab {
            width: 46vw;
            heigth: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .tab > span {
            font-size: 4vw;
            color: #B7B7B7;
            font-weight: bold;
        }

        .inputContainer {
            width: 100%;
            height: 9vh;
        }

        .inputContainer > input[type=text] {
            width: 100%;
            height: 90%;
            border: none;
            border-bottom: 1px solid #EEEEEE;
        }

        .inputContainer > input[type=password] {
            width: 100%;
            height: 90%;
            border: none;
            border-bottom: 1px solid #EEEEEE;
        }

        input[type=submit] {
            -webkit-appearance: none;
        }
    </style>
</head>
<body>
<header>
    {{>fragments/annonymousHeader}}
</header>

<div class="tabContainer">
    <div class="tab tabA" style="border-bottom : 3px solid #4D269E;">
        <span style="color: #4D269E;">유튜버</span>
    </div>
    <div class="tab tabB">
        <span>기업</span>
    </div>
</div>

<div class="container">
    <form class="formContainer" action="/login" method="POST">
        <div style="width: 100%; height: 18vh; display: flex; flex-direction: column; justify-content: space-evenly;">
            <div class="inputContainer">
                <input type="text" name="username" placeholder="  ex) ubridge@naver.com">
            </div>
            <div class="inputContainer">
                <input type="password" name="password" placeholder="  비밀번호">
            </div>
        </div>
        <div style="width: 100%; height: 8vh; border-radius: 5px; background-color: #4D269E;">
            <input type="submit" value="로그인" style="width: 100%; height: 100%; font-size: 4.5vw; color: #ffffff;">
        </div>
    </form>
</div>

</body>
</html>
