<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/xeicon.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</head>
<body>
<header class="blue">
    {{>fragments/header}}
</header>

<div style="margin-top: 12vh; width: 100vw; height: auto; background-color: #F2F3F8; display: flex; justify-content: center; align-items: center;">
    <div style="margin-top: 8vh; width: 87%; height: auto; display: flex; justify-content: center; align-items: center;">
        {{#role.youtuber}}
        <img style="width: 100%; height: auto;" src="/images/usage/youtuberUsage.png" alt="">
        {{/role.youtuber}}
        {{#role.corporation}}
        <img style="width: 100%; height: auto;" src="/images/usage/corporationUsage.png" alt="">
        {{/role.corporation}}
    </div>

</div>
</body>
</html>